:root {
    --primary-color: rgb(55, 79, 118);
    --secondary-color: rgb(78, 114, 52);
    --accent-color1: rgb(91, 226, 235);
    --accent-color2: rgb(171, 78, 104);
    --heading-font: permanent marker;
    --text-font: roboto slab;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
  
.roboto-slab-text {
    font-family: "Roboto Slab", serif;
    font-weight: 100;
    font-style: normal;
    color: var(--accent-color1);
  }

.heroimg {
  display: block;
  width: 100%;
  height: auto;
  float: right;
}

.adventure-section {
  width: auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr fr;
}


.hero {
  position: relative;
}





/* ----- HEADER  ----- */
header {
  margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	border: 5px solid var(--accent-color2);
  justify-content: space-around;
  background-color: var(--accent-color2);
}


.header-nav {
  display: flex;
  border: 3px solid var(--accent-color1);
  justify-content: space-around;
  text-align: center;
  background-color: var(--secondary-color);
}







/* ----- MAIN ----- */

a {
  text-decoration: none;
}

h1{
  background-color: var(--secondary-color);
  position: absolute;
  left: 30%;
}

article{
  position: absolute;
  background-color: rgb(55, 79, 118, .8);
  top: 7rem;
  padding: 20px;
}

main {
  background-color: var(--primary-color);
}

section {
  padding: 6rem;
  border: 5px solid var(--accent-color1);
}

.adventure-awaits {
  grid-column: 1/5;
}





/* ----- FOOTER ----- */
footer {
  background-color: var(--secondary-color);
  border: 5px solid black;
  display: grid;
  justify-content: center;
}








/* ----- IMAGES ----- */
.image-article {
  float: right;
  max-width: 100px;
  height: auto;
}

.images-section{
  width: 150px;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.icon {
  width: 50px;
  height: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}


#instagram{
  width: 80px;
}