:root {
    --primary-color: rgb(55, 79, 118);
    --secondary-color: #4E7234;
    --accent-color1: #C0F2F2;
    --accent-color2: rgb(171, 78, 104);
    --heading-font: permanent marker;
    --text-font: roboto slab;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(223, 177, 121);
  }

  
  
.roboto-slab-text {
    font-family: "Roboto Slab", serif;
    font-weight: 100;
    font-style: normal;
    color: var(--accent-color1);
  }

.heroimg {
  display: block;
  width: 100%;
  height: auto;
  float: right;
}

.adventure-section {
  width: auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}


.hero {
  position: relative;
}





/* ----- HEADER  ----- */
header {
  margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	border: 5px solid black;
  justify-content: space-around;
  background-color: var(--accent-color2);
}


.header-nav {
  display: flex;
  border: 3px solid black;
  justify-content: space-around;
  text-align: center;
  background-color: var(--secondary-color);
}







/* ----- MAIN ----- */

a {
  text-decoration: none;
  color: var(--accent-color1);
}

h1{
  background-color: var(--secondary-color);
  position: absolute;
  left: 36%;
}

article{
  position: absolute;
  background-color: rgb(55, 79, 118, .8);
  top: 7rem;
  padding: 20px;
}

form {
  background-color: aliceblue;
}


button {
  margin: 1rem;
  background-color: maroon;
  color: burlywood;
  border: none;
  border-radius: .5rem;
  padding: .25rem;
  font-size: 1rem;
  width: auto;
}


main {
  background-color: var(--primary-color);
}

section {
  padding: 6rem;
  border: 5px solid black;
}

.adventure-section {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr;  
  grid-template-areas:
      "header"
      "content"
      "figures";
  text-align: center;  
  padding: 20px;  
}

.adventure-section figure img {
  display: grid;
  width: 100%;  
  max-width: 300px;  
  height: auto; 
  align-content: center;
}

iframe{
  width: 300px;
  height: auto;
  position: relative;
}


p {
  color: #C0F2F2;
}







/* -------- TABLE ON TRIPS PAGE ---------- */
table {
  border-collapse: collapse;
  border: 2px solid var(--secondary-color);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 50rem;
  height: auto;
  
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: 700;
	 font-style: italic;
}

thead,

thead th {
	background-color: var(--accent-color2);
	color: white;
}

th,
td {
  border: 1px solid var(--secondary-color);
  padding: 8px 10px;
  color: #C0F2F2;
  
}

td:last-of-type {
  text-align: center;
}
tbody > tr:nth-of-type(even) {
  background-color: #4E7234;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}














/* ----- FOOTER ----- */
footer {
  background-color: var(--secondary-color);
  border: 5px solid black;
  display: grid;
  justify-content: center;
}








/* ----- IMAGES ----- */
.image-article {
  float: right;
  max-width: 100px;
  height: auto;
}

.images-section{
  width: 150px;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.icon {
  width: 50px;
  height: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}


#instagram{
  width: 80px;
}