:root{
    --width: 150px;
    --border: 1px solid rgba(0, 0, 0, 0.3);
    --padding: 1rem
}

nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: var(--padding);
}
h1 {
    color: darkblue;
}
img {
    width: var(--width);
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: 1rem;
}
main {
    max-width: 840px;
}
main img{
    width: var(--width);
    height: auto;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: rgb(223, 111, 46);
    color: #333333;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 20px;
    border-top: 1px dotted rgb(36, 22, 163);
    text-align: center;
}