:root {
    --primary-color: rgb(55, 79, 118);
    --secondary-color: rgb(78, 114, 52);
    --accent-color1: rgb(91, 226, 235);
    --accent-color2: rgb(171, 78, 104);
    --heading-font: permanent marker;
    --text-font: roboto slab;
}